body{
    color: grey;
    font-family: 'Lato', sans-serif;
    background: rgb(116,76,44);
    background: linear-gradient(0deg, rgba(116,76,44,1) 0%, rgba(222,207,172,1) 65%);
    background-attachment: fixed;
}
h1{
    text-align: center;
    font-weight: bolder;
    color: #dd5555;
}
h2{
    text-align: center;
}
a{
    color: lightgrey;
    text-decoration: none;
}
a:hover {
    color: rgb(11, 72, 165);
}
.bold{
    color: grey;
    font-weight: bold;
}
.profil{
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: #ebebeb;
}
.box{
    box-shadow:5px 5px rgba(128,128,128,.2);
    text-align: center;
    background-color: white;
    max-width: 40%;
    margin: 30px 30% 30px 30%;
    padding: 20px;
    border-radius: 5px;
}
.social{

    list-style: none;
    display: inline-block;
    width: 135px;    
}
.alignLeft{
    text-align: left; 
}


/* Nav */

#nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
#nav li{
    float: left;
}
  
#nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
#nav li a:hover:not(.active) {
  background-color: #111;
}
  
.active {
  background-color: #4CAF50;
}

/* index hover */

#noHover a:hover{
    color: lightgray;
}
.profilehoveribra {
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: #ebebeb;
    background-image: url(https://github.com/SylvainDurant/Tribute/blob/master/images/index/Ibrahim.jpg?raw=true);
    background-size: contain;
    position: relative;
}
.profilehoveroli {
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: #ebebeb;
    background-image: url(https://github.com/SylvainDurant/Tribute/blob/master/images/index/Olivier.jpg?raw=true);
    background-size: contain;
    position: relative;
}
.profilehoversyl {
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: #ebebeb;
    background-image: url(https://github.com/SylvainDurant/Tribute/blob/master/images/index/Sylvain.jpg?raw=true);
    background-size: contain;
    position: relative;
}
.profilehoverthib {
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: #ebebeb;
    background-image: url(https://github.com/SylvainDurant/Tribute/blob/master/images/index/Thibault.png?raw=true);
    background-size: contain;
    position: relative;
}
.overlay {
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: darkslategrey;
    border-radius: 50%;
}
.profilehoveribra:hover .overlay{
    opacity: 0.75;
}
.profilehoveroli:hover .overlay{
    opacity: 0.75;
}
.profilehoversyl:hover .overlay{
    opacity: 0.75;
}
.profilehoverthib:hover .overlay{
    opacity: 0.75;
}
.textoverlay {
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 40%;
    padding-bottom: 40%;
    font-weight: bold;
}
