body{
    color: grey;
    font-family: 'Lato', sans-serif;
    background-color:#ebebeb;
}
h1{
    text-align: center;
    font-weight: bolder;
    color: #dd5555;
}
h2{
    text-align: center;
}
table{
    color: lightgrey;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
a{
    color: lightgrey;
    text-decoration: none;
}
.bold{
    color: grey;
    font-weight: bold;
}
.profil{
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: #ebebeb;
}
.box{
    background-color: white;
    max-width: 40%;
    margin: 30px 30% 30px 30%;
    padding: 20px;
    border-radius: 5px;
}

*,*:before,*:after{
    box-sizing:border-box;
    }
    body{
    display:flex;
    height:100vh;
    align-items: center;
    margin:0;
    padding:.5rem;
    }
    img{
    max-width: 100%;
    } 
    .diapo_auto_rwd{
    position:relative;
    max-width:600px;
    margin:2rem auto;
    overflow:hidden; 
    }
    
    .diapo_auto_rwd input[type=radio]{ 
    position: absolute;
    left: -99999px;
    }
    
    .diapo_auto_rwd label{
    cursor:pointer;
    }
    .diapo_auto_rwd ul { 
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden; 
    }
    
    .diapo_auto_rwd ul .slide_diapo { 
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform .8s;
    }
    
    /*slide images, on place les photos cote a cote*/
    ul .slide_diapo.image1{ 
    left: 0;
    }
    ul .slide_diapo.image2{ 
    left: 100%;
    }
    ul .slide_diapo.image3{ 
    left: 200%;
    }
    
    #slide1:checked ~ ul .slide_diapo,
    #pause1:checked ~ ul .slide_diapo {
    transform: translatex(0);
    }
    
    #slide2:checked ~ ul .slide_diapo,
    #pause2:checked ~ ul .slide_diapo {
    transform: translatex(-100%);
    }
    
    #slide3:checked ~ ul .slide_diapo,
    #pause3:checked ~ ul .slide_diapo{
    transform: translatex(-200%);
    }
    
    /*defilement automatique des photos lorsqu'on clique sur le bouton play*/
    #lance-diapo:checked ~ ul .slide_diapo {
    animation: slide-diapo 12.3s infinite;
    }
    
    /*animation css3 defilement automatique des photos*/
    @keyframes slide-diapo { 
    0%,25%{
    margin-left: 0; 
    }
    33%,58%{
    margin-left: -100%;
    }
    66%,91%{
    margin-left: -200%;
    }
    }
    
    .diapo_auto_rwd img,
    .precedent,
    .suivant,
    .lancement_arret { 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; /*empêche de selctionner les images et icones*/
    }
    
    /*navigation fleches droite et gauche*/
    .precedent,
    .suivant {
    position: absolute;
    top: 50%;
    z-index: 1;
    }
    
    .precedent label,
    .suivant label {
    position: absolute;
    opacity: 0;
    z-index: -1;
    height: 50px;
    width: 0;
    transform: translate(0,-50%);
    }
    .precedent {
    left: 0;
    }
    .suivant { 
    right:50px;
    }
    
    .precedent label:before{
    content:"\e05b";
    }
    .suivant label:before{
    content:"\e067";
    }
    
    .precedent label:before,
    .suivant label:before{ 
    position: absolute;
    font-family: "bric-a-brac";
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    background: hsla(0,0%,0%,.3);
    transition: background .3s;
    color: white;
    }
    
    .precedent:hover label:before,
    .suivant:hover label:before{
    background: hsla(0,0%,0%,.8);
    }
    
    #slide1:checked ~ .precedent .image3,
    #pause1:checked ~ .precedent .image3,
    #slide1:checked ~ .suivant .image2,
    #pause1:checked ~ .suivant .image2, 
    #slide2:checked ~ .precedent .image1,
    #pause2:checked ~ .precedent .image1,
    #slide2:checked ~ .suivant .image3,
    #pause2:checked ~ .suivant .image3, 
    #slide3:checked ~ .precedent .image2,
    #pause3:checked ~ .precedent .image2,
    #slide3:checked ~ .suivant .image1,
    #pause3:checked ~ .suivant .image1 { 
    opacity: 1;
    z-index: 1;
    }
    
    @keyframes fleche_diapo {
    0%,33.33%{ 
    opacity: 1;
    z-index: 0; 
    }
    33.34%,100%{
    opacity: 0;
    z-index: -1;
    }
    }
    
    #lance-diapo:checked ~ .precedent .image3,
    #lance-diapo:checked ~ .suivant .image2 {
    animation: fleche_diapo 12.3s infinite -1s;
    }
    
    #lance-diapo:checked ~ .precedent .image1,
    #lance-diapo:checked ~ .suivant .image3 {
    animation: fleche_diapo 12.3s infinite 3.1s;
    }
    #lance-diapo:checked ~ .precedent .image2,
    #lance-diapo:checked ~ .suivant .image1 {
    animation: fleche_diapo 12.3s infinite 7.2s;
    }
    
    /*Play-Pause*/
    .lancement_arret,
    .lancement_arret label{ 
    position: absolute;
    }
    
    .lancement_arret { 
    top: 50%;
    left: 50%;
    z-index: 2;
    }
    
    .lancement_arret label {
    transform: translate(-50%,-50%);
    }
    
    .lance_diapo:after{ 
    content:"]";
    }
    .pause_diapo:after{
    content:"|";
    }
    
    .lancement_arret label:after{ 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    transition: background .3s;
    font-family: "bric-a-brac";
    color: #fff;
    }
    
    .lancement_arret:hover label:after{
    background: hsla(0,0%,0%,.6);
    }
    
    #lance-diapo:checked ~ .lancement_arret .pause_diapo,
    .slide_diapo:checked ~ .lancement_arret .lance_diapo,
    .pause_diapo:checked ~ .lancement_arret .lance_diapo { 
    display: flex;
    z-index: 2;
    }
    
    #lance-diapo:checked ~ .lancement_arret .lance_diapo,
    .slide_diapo:checked ~ .lancement_arret .pause_diapo,
    .pause_diapo:checked ~ .lancement_arret .pause_diapo { 
    display: none;
    z-index: -1;
    }
    
    #lance-diapo:checked ~ .lancement_arret .pause_diapo.image1,
    #lance-diapo:checked ~ .lancement_arret .pause_diapo.image2,
    #lance-diapo:checked ~ .lancement_arret .pause_diapo.image3{ 
    opacity: 0;
    z-index: -1;
    } 
    
    #lance-diapo:checked ~ .lancement_arret .pause_diapo.image1 {
    animation: fleche_diapo 12.3s infinite -1s;
    }
    
    #lance-diapo:checked ~ .lancement_arret .pause_diapo.image2 {
    animation: fleche_diapo 12.3s infinite 3.1s;
    }
    
    #lance-diapo:checked ~ .lancement_arret .pause_diapo.image3 {
    animation: fleche_diapo 12.3s infinite 7.2s;
    }
    
    #lance-diapo:checked ~ ul .slide_diapo,
    .pause_diapo:checked ~ ul .slide_diapo,
    .pause_diapo:checked ~ .precedent label,
    .pause_diapo:checked ~ .suivant label,
    .slide_diapo:checked ~ .precedent label,
    .slide_diapo:checked ~ .suivant label{
    transition:none;
    }/*on revient directement a la premiere photo sans effet de slide*/
