div.gallerythib {
    margin: 5px;
    max-width: 100%;
    max-height: 100%;
    transition: transform 2s;
  }
  
  div.gallerythib img:hover {
    transition: transform 2s;
    transform: scale(2);
  }
  
  div.gallerythib img {
    max-width: 50%;
    max-height: 50%;
  }